.container{
    display:flex;
    height:500px;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    gap:20px;
}

.container p{
    color:white;
}

.container button{
    width:150px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,200,0.5);
}

